
/5.AdvancedFeatures/Movies.Api/obj
/1.GettingStarted/Movies.Api/obj
/1.GettingStarted/Movies.Application/obj
/1.GettingStarted/Movies.Contracts/obj
/2.BeyondTheBasics/Movies.Api/obj
/2.BeyondTheBasics/Movies.Application/obj
/3.Auth/Movies.Api/obj
/3.Auth/Movies.Application/obj
/3.Auth/Movies.Contracts/obj
/4.Ratings/Movies.Api/obj
/4.Ratings/Movies.Application/obj
/4.Ratings/Movies.Contracts/obj
/5.AdvancedFeatures/Movies.Application/obj
/5.AdvancedFeatures/Movies.Contracts/obj
/6.SDK/Movies.Api.Sdk/obj
6.SDK/Movies.Api/obj/Debug/net7.0/Movies.Api.AssemblyInfo.cs
/6.SDK/Movies.Api/obj
/6.SDK/Movies.Application/obj
/6.SDK/Movies.Contracts/obj
/7.MinimalApi/MinimalApiExample/obj
/7.MinimalApi/Movies.Api.Sdk.Consumer/obj
/7.MinimalApi/Movies.Api.Sdk/obj
/7.MinimalApi/Movies.Api/obj
/7.MinimalApi/Movies.Application/obj
/7.MinimalApi/Movies.Contracts/obj
/Helpers/Identity.Api/obj
/6.SDK/Movies.Api.Sdk.Consumer/obj
